header {
  height: 60rem;
  padding-top: 7rem;
  overflow: hidden;
}

.header_container {
  text-align: center;
  height: 100%;
  position: relative;
}
.dynamic-txt {
  overflow: hidden;
}
.dynamic-txt li {
  font-size: 1.6rem;
  font-weight: 600;
}
.dynamic-txt li .span {
  color: coral;
  font-size: 1.6rem;
  font-weight: 600;
}
.dynamic-txt li .span {
  position: relative;
}

.dynamic-txt li .span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 110%;
  width: 100%;
  background: #1b1a1a;
  /* background-image: url(../../assets/bg-texture.png); */
  z-index: 0;
  border: none;
  outline: none;
  border-left: 2px solid coral;
  animation: dynamictxt 1.5s steps(20) infinite;
}
@keyframes dynamictxt {
  100% {
    left: 100%;
    margin: 0 -35px 0 35px;
  }
}

/* ===============> ATTACHMENTS BUTTONS <================== */

.attach {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

/* ===============> SOCIAL HANDELS <================== */

.social_handels {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  gap: 0.8rem;
  left: 0;
  bottom: 3rem;
}

.social_handels::after {
  content: "";
  width: 1px;
  height: 4rem;
  background: var(--color-primary);
}

/* ===============> ME <================== */

.me {
  /* background: linear-gradient(var(--color-primary), transparent); */
  width: 30rem;
  height: auto;
  position: absolute;
  left: calc(50% - 14rem);
  margin-top: 4rem;
  border-radius: 12rem 12rem 0 0;
  overflow: hidden;
  padding: 5rem 1.5rem 1.5rem 1.5rem;
}

/* ===============> SCROLL DOWN <================== */
.scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

/* =========> Media Queries (Medium Devices / Tablets) <========== */

@media screen and (max-width: 1024px) {
  header {
    height: 68vh;
  }
}
/* =========> Media Queries (Small Devices / Mobiles) <========== */

@media screen and (max-width: 600px) {
  header {
    height: 140vh;
  }
  .scroll__down,
  .social_handels {
    display: none;
  }
}
